@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,500&family=Roboto+Slab:wght@100..900&family=Roboto:wght@300;400;500&display=swap");
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;
}

.roboto-slab-bold {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto-slab-regular {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-slab-light {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --one-000: hsl(225, 9%, 9%);
  --nine-000: hsl(216, 8%, 12%);
  --eight-000: hsl(220, 7%, 18%);
  --seven-000: hsl(216, 9%, 23%);
  --six-000: hsl(216, 8%, 38%);
  --five-000: hsl(213, 4%, 51%);
  --four-000: hsl(222, 9%, 78%);
  --three-000: hsl(0, 0%, 89%);
  --two-000: hsl(0, 0%, 96%);
  --one-00: hsl(0, 0%, 100%);
  --orange: hsl(12, 75%, 58%);
  --oranga-hover: hsl(21, 86%, 67%);
}
html {
  height: 100%;
}

body {
  background-color: var(--one-000);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--eight-000);
  gap: 1.5rem;
}
main {
  display: flex;
  min-height: 100%;
  min-width: 0;
  flex: 1;
  overflow-x: hidden;
}
div[data-show="true"] {
  display: flex;
  flex-direction: column;
  flex: 1;

  & :is(#markdown, #preview) {
    /* height: 100%; */
    background-color: transparent;
    flex: 1;
  }

  & #markdown {
    color: var(--four-000);
    font-size: 0.875rem;
    line-height: 1.71;
    padding-inline: 1rem;
    padding-block: 1rem 0.75rem;
    /* text-indent: 1rem; */
  }
}
div[data-show="false"] {
  display: none;
  /* flex: 1; */
}
.document-container {
  display: flex;
  align-items: center;
  color: var(--one-00);
  margin-inline-end: auto;

  gap: 1.018125rem;
  & .doc-display {
  }
  /* show on tablet and desktop */
  & .doc-header {
    display: none;
  }
  & .doc-name {
    font-size: 0.9375rem;
    line-height: 1.2;
  }
}

/* show for desktop */
#not-mobile-logo {
  display: none;
}
#markdown-form {
  display: flex;
  min-width: 0;
}

#save-btn {
  background-color: var(--orange);
  border-radius: 0.25rem;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
  margin-inline-end: 0.5rem;
}
/* show when clicked */
#sidebar {
  display: none;
  width: max-content;
  flex: 1;
}
#sidebar-btn {
  background-color: var(--seven-000);
  padding-block: 1.3125rem;
  padding-inline: 1.0625rem;

  & img {
    width: 1.4375rem;
    height: 0.875rem;
  }
  /* width: 3.5rem; */
  /* height: 3.5rem; */
}
/* show when mobile and tablet */
#sidebar-logo {
  display: none;
}

.view {
  background-color: var(--nine-000);
  color: var(--four-000);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1rem 0.9875rem;
  padding-block: 0.75rem 0.875rem;

  & p {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.14;
  }

  & svg {
    color: var(--four-000);
    /* color: red; */
  }
}
