@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,500&family=Roboto+Slab:wght@100..900&family=Roboto:wght@300;400;500&display=swap");
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;
}

.roboto-slab-bold {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto-slab-regular {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-slab-light {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --one-000: hsl(225, 9%, 9%);
  --nine-000: hsl(216, 8%, 12%);
  --eight-000: hsl(220, 7%, 18%);
  --seven-000: hsl(216, 9%, 23%);
  --six-000: hsl(216, 8%, 38%);
  --five-000: hsl(213, 4%, 51%);
  --four-000: hsl(222, 9%, 78%);
  --three-000: hsl(0, 0%, 89%);
  --two-000: hsl(0, 0%, 96%);
  --one-00: hsl(0, 0%, 100%);
  --orange: hsl(12, 75%, 58%);
  --oranga-hover: hsl(21, 86%, 67%);

  --bg-color: var(--one-000);
  --view-bg: var(--nine-000);
  --view-color: var(--four-000);
  --preview-text: var(--one-00);
  --preview-para: var(--four-000);

  --preview-block-bg: var(--eight-000);
  --text-area-color: var(--four-000);

  --dialog-bg: var(--nine-000);
  --dialog-text: var(--one-00);
}

:root.light-mode {
  --bg-color: var(--one-00);
  --view-bg: var(--two-000);
  --view-color: var(--five-000);

  --preview-text: var(--seven-000);
  --preview-para: var(--five-000);

  --preview-block-bg: var(--two-000);

  --text-area-color: var(--seven-000);
  --dialog-bg: var(--one-00);
  --dialog-text: var(--seven-000);
}
html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  display: flex;
  /* flex-direction: column; */
  /* display: grid; */
  /* grid-template-rows: max-content; */
  /* grid-template-columns: fit-content; */
  /* grid-template-areas:
    "sidebar header"
    "sidebar main"; */

  /* display: grid; */
  min-height: 100%;
  /* min-height: 100vh; */
  /* height: 100%; */
  overflow: hidden;
}

.documents {
  display: flex;
  align-items: center;
  overflow-y: auto;

  gap: 1.018125rem;
  padding-block-end: 1.625rem;
  & img {
    /* width: 0.856875rem; */
  }

  & .doc-info {
    display: flex;
    flex-direction: column;
    gap: 0.1875rem;

    & p:first-child {
      color: var(--five-000);
      font-size: 0.8125rem;
      line-height: 1.15;
    }

    & p:nth-child(2) {
      font-size: 0.9375rem;
      line-height: 1.2;
    }
  }
}
.hide {
  display: none;
}

#delete-dialog[open] {
  border: 0;
  margin: auto;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: var(--dialog-bg);
  color: var(--dialog-text);
  padding: 1.5rem;
  gap: 1rem;

  max-width: 21.4375rem;
  max-height: 13.925rem;
  &::backdrop {
    background-color: hsl(from var(--five-000) h s l / 0.5);
    /* opacity: 0.5; */
  }
  & h1 {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  & p {
    font-size: 0.875rem;
    line-height: 1.71;
    color: var(--view-color);
  }

  & button {
    font-size: 0.9375rem;
    text-align: center;
    background-color: var(--orange);
    color: var(--one-00);
    border-radius: 0.25rem;
    padding-block: 0.625rem 0.75rem;
    /* width: 100%; */
  }
}
#header {
  display: flex;
  align-items: center;
  background-color: var(--eight-000);
  gap: 1.5rem;
  /* flex: 1; */
  /* width: 100%; */
  min-width: 0;
  /* max-width: 100vh; */
  /* max-width: 100svh; */
  /* max-height: max-content; */
  height: min-content;
  overflow-x: hidden;

  /* nav {
    display: flex;
  } */
}
main {
  /* grid-column: 1/ -1;
  grid-area: main; */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* height: 100%; */
  min-width: 0;
  flex: 1;
  overflow: hidden;
}

#markdown-con {
  display: flex;
  /* min-height: 100%; */
  /* height: 100%; */
  min-width: 0;
  flex: 1;
}
div[data-show="true"] {
  display: flex;
  flex-direction: column;
  flex: 1;

  /* height: 100%; */
  /* max-width: 100vh; */
  /* max-height: 100vh; */
  /* overflow-x: hidden; */

  & :is(#markdown, #preview) {
    /* height: 100%; */
    background-color: transparent;
    flex: 1;
  }

  & #markdown {
    border: 0;
    color: var(--text-area-color);
    font-size: 0.875rem;
    line-height: 1.71;
    padding-inline: 1rem;
    padding-block: 1rem 0.75rem;
    resize: none;

    &:is(:focus, :focus-visible) {
      /* border: 0px solid transparent; */
      outline: none;
    }
    /* text-indent: 1rem; */
  }
}
div[data-show="false"] {
  display: none;
  /* flex: 1; */
}
.document-container {
  display: flex;
  align-items: center;
  color: var(--one-00);
  margin-inline-end: auto;

  gap: 1.018125rem;

  /* show on tablet and desktop */
  & .doc-header {
    display: none;
  }
  & .doc-name {
    font-size: 0.9375rem;
    line-height: 1.2;
  }
}
/* #test {
  position: relative;
} */
label[for="toggle"] {
  transition: 0.5s ease;
  display: flex;
  cursor: pointer;

  align-items: center;
  gap: 0.5rem;
  margin-block-start: auto;
  /* margin-block-start: auto; */

  & > svg {
    /* width: 1.02875rem; */
    /* height: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem); */

    &[data-theme="false"] {
      color: var(--six-000);
    }
  }
}

#toggle {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  background: var(--six-000);
  border-radius: 62rem;
  width: 3rem;
  height: 1.5rem;
}

.slider::before {
  position: absolute;
  content: "";
  background-color: var(--one-00);
  transition: 0.4s;
  border-radius: 50%;

  height: 0.75rem;
  width: 0.75rem;
  left: 0.25rem;
  top: 0.375rem;
}

#toggle + .slider:hover {
  background: var(--six-000);
}

#toggle:checked + .slider::before {
  transform: translateX(1.75rem);
}

#new-document-btn {
  background-color: var(--orange);
  display: flex;
  text-wrap: nowrap;
  font-size: 0.9375rem;
  line-height: 1.2;
  padding-inline: 2.6875rem;
  padding-block: 0.625rem 0.75rem;
  border-radius: 0.25rem;
  margin-block-end: 1.5rem;
}
/* show for desktop */
#not-mobile-logo {
  display: none;
}
#markdown-form {
  display: flex;
  min-width: 0;
}
#my-documents {
  color: var(--five-000);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.14;
  padding-block-end: 1.8125rem;
}
#save-btn {
  background-color: var(--orange);
  border-radius: 0.25rem;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
  margin-inline-end: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.489375rem;
  & span {
    display: none;
  }

  /* min-width: 2.5625rem; */
  /* min-height: 2.5625rem; */
  & img {
    min-width: 1.0625rem;
  }
}
/* show when clicked */
#sidebar {
  color: var(--one-00);
  background-color: var(--nine-000);
  display: none;
  flex-direction: column;
  height: 100%;
  /* position: fixed; */
  /* max-width: max-content; */
  min-width: 0;
  width: 15.625rem;
  padding-block: 1.6875rem;
  padding-inline: 1.5rem;
  /* grid-area: sidebar; */
  flex: 1;

  & > img {
    width: 8.1875rem;
    padding-block-end: 1.6875rem;
    /* height: 1.125rem; */
  }
}
#sidebar-btn {
  background-color: var(--seven-000);
  padding-block: 1.3125rem;
  padding-inline: 1.0625rem;

  & img {
    /* width: 1.4375rem; */
    min-width: 1.4375rem;
    height: 0.875rem;
  }
  &[data-menu="menu"] > img {
    min-width: 1.125rem;
  }
  /* width: 3.5rem; */
  /* height: 3.5rem; */
}
/* show when mobile and tablet */
#sidebar-logo {
  /* display: none; */
  /* background-color: var(--one-000); */

  /* width: 15.625rem; */
  /* height: max-content; */
}

/* .theme-toggle {
  margin-block-start: auto;
} */
#preview {
  overflow: auto;
  position: fixed;
  /* height: 0px; */
  max-height: 90vh;
  max-height: 90svh;
  /* top: 2.6rem; */
  top: 6.125rem;
  /* overflow: auto; */
  /* max-height: 100vh; */
  /* max-height: 100svh; */
  /* height: 100%; */
  /* padding-inline: 1.25rem 1.25rem; */
  padding-inline: 1.25rem 0.625rem;
  padding-block: 1rem 3.375rem;
  & h1 {
    color: var(--preview-text);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.3125;
  }
  & h2 {
    color: var(--preview-text);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 1.32;
  }
  & h3 {
    color: var(--preview-text);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: 1.5rem;
    line-height: 1.33;
  }

  & h4 {
    color: var(--preview-text);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.3;
  }

  & h5 {
    color: var(--preview-text);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.3125;
  }

  & h6 {
    color: var(--orange);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.2857;
  }
  & p {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--preview-para);
    font-size: 0.875rem;
    line-height: 1.714;

    & code {
      color: var(--preview-text);
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
  }

  & ol {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* color: var(--four-000); */
    color: var(--preview-para);
    font-size: 0.875rem;
    line-height: 1.71;
  }

  & ul {
    /* color: var(--four-000); */
    color: var(--preview-para);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.71;

    & li::marker {
      color: var(--orange);
      font-size: 0.5rem;
    }
  }

  & blockquote {
    border-radius: 0.25rem;
    border-left: 0.25rem solid var(--orange);
    padding: 1.5rem;
    background-color: var(--preview-block-bg);
    & p {
      color: var(--preview-text);

      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 1.71;
    }

    & a {
      color: var(--preview-text);
    }
  }

  & pre {
    /* background-color: var(--eight-000); */
    background-color: var(--preview-block-bg);
    border-radius: 0.25rem;
    padding: 1.5rem;
    /* margin-block-end: 3.375rem; */
    text-wrap: wrap;

    & code {
      color: var(--preview-text);
      font-family: "Roboto Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 1.714;
    }
  }
}
.view {
  background-color: var(--view-bg);
  color: var(--view-color);

  z-index: 99;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1rem 0.9875rem;
  padding-block: 0.75rem 0.875rem;

  & p {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.14;
  }

  & svg {
    color: var(--view-color);
    /* color: red; */
  }
}

@media (min-width: 48rem) {
  div[data-show="true"]:has(#markdown-btn) + div[data-show="false"] {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border-right: 0.0625rem solid var(--six-000); */
  }

  :is(#markdown-btn) {
    display: none;
  }

  div[data-show="true"]:has(textarea) {
    border-right: 0.0625rem solid var(--six-000);
  }

  .document-container {
    & .doc-display {
      /* gap: 0; */
      & .doc-header {
        font-size: 0.8125rem;
        line-height: 1.15;
        display: block;
        color: var(--five-000);
      }
    }
  }

  #save-btn {
    & span {
      display: block;
      font-size: 0.9375rem;
      line-height: 1.2;
      text-wrap: nowrap;
      color: var(--one-00);
    }
  }

  /* #preview-btn-tablet {
    display: block;
  } */
}

@media (min-width: 90rem) {
  #not-mobile-logo {
    display: block;
    /* border-right: 1px solid var(--six-000); */
  }

  .document-container {
    padding-inline-start: 1.5rem;
    border-left: 0.0625rem solid var(--six-000);
  }

  #sidebar-logo {
    display: none;
  }
}
